<!-- THIS IS THE FLASH MESSAGE WHICH WILL BE DISPLAYED ABOVE BODY IF ONLY EXISTS  -->

<!-- SUCCESS PARTIAL -->
<% if(success && success.length) { %>
    <div class="alert alert-success alert-dismissible fade show col-6 offset-3 mt-3" role="alert">
        <%= success %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>

<!-- FAILUER PARTIAL -->
<% if(error && error.length) { %>
    <div class="alert alert-danger alert-dismissible fade show col-6 offset-3 mt-3" role="alert">
        <%= error %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
<% } %>