<!-- THIS IS ERROR PAGE TEMPLATE WHICH IS DISPLAYED AFTER ANY ERROR OCCURS -->

<!-- BOILERPLATE FOR NAVBAR, BODY AND FOOTER -->
<% layout("/layouts/boilerplate") %>

<div class="row">

    <!-- ALERT CARD OF BOOTSTRAP -->
    <div class="alert alert-danger col-6 offset-3 mt-3" role="alert">
        <%= message %>
    </div>
</div>